{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h2>Add a Wine!</h2>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'reviews:add_wine' %}" method="post" class="form">
    {% csrf_token %}
    <!-- this line is causing the issue -->
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Add
    </button>
    {% endbuttons %}
</form>
{% endblock %}