beautifulsoup4==4.5.1
certifi==2017.4.17
contextlib2==0.5.3
Django==1.11
django-bootstrap3==8.2.2
django-registration-redux==1.6
docutils==0.12
gunicorn==19.7.1
html5lib==0.9999999
matplotlib==1.5.3
mpmath==0.19
multipledispatch==0.4.8
numpy==1.13.1
pandas==0.18.1
Pillow==8.1.1
psycopg2==2.7.1
scrapely==0.13.3
seaborn==0.7.1
selenium==3.4.1
sympy==1.0
scipy==0.19.1
scikit-learn==0.19.0
urllib3==1.21
w3lib==1.17.0
dj-database-url==0.4.2
whitenoise==3.2.1